langchain>=0.1.17
langchain-community>=0.0.38
langchain-core>=0.1.52
langchain-text-splitters>=0.0.1
langchain_groq>=0.0.1
chromadb
streamlit
pandas
python-dotenv
sentence-transformers
langchain_huggingface
langchain_ollama
